.video_loop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#video-victor {
    display: none;
}

#video-alyssa {
    display: none;
}

#video-sophie {
    display: none;
}

button {
    background: transparent;
    // background: black;
    border: none !important;
    font-size: 18px;
    position: absolute;
}

#explore-button {
    left: 380px;
    top: 600px;
    width: 1000px;
    height: 200px;
}

#down-button {
    left: 1100px;
    top: 560px;
    width: 800px;
    height: 170px;
    display: none;
}

#up-button {
    left: 1100px;
    top: 75px;
    width: 800px;
    height: 170px;
    display: none;
}

#select-button {
    left: 1100px;
    top: 250px;
    width: 800px;
    height: 320px;
    display: none;
}

button:focus {
    outline: none !important;
}

.uneeq-modal-btn {
    position: absolute;
    left: 30px;
    top: 15px;
    background-color: purple !important;
}

.modal-title {
    padding-left: 21rem;
}