#video-victor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#video-alyssa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

button {
    background: transparent;
    // background: black;
    border: none !important;
    font-size: 18px;
    position: absolute;
}

#down-button {
    left: 1100px;
    top: 550px;
    width: 800px;
    height: 150px;
}

#up-button {
    left: 1100px;
    top: 75px;
    width: 800px;
    height: 150px;
}

button:focus {
    outline: none !important;
}

.uneeq-modal-btn {
    position: absolute;
    left: 30px;
    top: 15px;
    background-color: purple !important;
}

.modal-title {
    padding-left: 21rem;
}
